body {
  font-family: arial;
  font-size: 2em;
  color: gray;
}

button {
  padding: 5%;
  border-radius: 0px;
  background-color: salmon;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
}

h1 {
  margin-bottom: 0;
  color: black;
}

h2 {
  color: salmon;
}

.container {
  flex-direction: row;
  margin: 0 auto;
  padding: 3%;
  justify-content: space-evenly;
}

.card {
  flex-direction: column;
  width: 30%;
  padding: 1%;
  box-shadow: 0 0 10px lightgray;
  line-height: 150%;
}

.interactivity {
  flex-direction: row;
  justify-content: space-between;
  line-height: 1%;
}

.likes {
  flex-direction: column;
}

.flex {
    display: flex;
}